.carousel-item img{
    object-fit: cover;
  width: 100%;
  height: 500px; /* hoặc auto */
}
.scrollable-text {
  width: 100%;         /* Chiều rộng cố định */
  height: 200px;        /* Chiều cao cố định */
  overflow-y: auto;     /* Cho phép cuộn theo chiều dọc */
  overflow-x: hidden;   /* Ẩn cuộn ngang nếu có */
  padding: 10px;
scrollbar-width: none;      /* Ẩn thanh cuộn trên Firefox */
  -ms-overflow-style: none;   /* Ẩn thanh cuộn trên Internet Explorer */
}
.scrollable-text::-webkit-scrollbar {
  display: none;              /* Ẩn thanh cuộn trên Chrome, Safari */
}
.row-main2{
    overflow-x: auto;
    overflow-y: hidden;
    height: 700px;
}
.col-1{
    width: 50%;
}